body {
  font-family: sans-serif;
  margin: 0rem;
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.4rem;
  width: 100%;
  max-width: 300px;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
